models/
dataset/
artefacts/
.vscode/
.venv/
test_img/
notebooks/logs/
notebooks/*.h5
notebooks/output/
notebooks/runs/
notebooks/*.pt
app/__pycache__/
train/Faster R-CNN/exp/
train/Faster R-CNN/__pycache__/
train/YOLOv12/runs/





