aiogram
numpy<2.0.0
easyocr
supervision
ultralytics>=8.0.0
opencv-python>=4.5.0
torch>=2.0.0
matplotlib>=3.0.0
tensorflow
keras
tensorrt
keras_ocr
pandas
torch
torchvision
torchaudio
scikit-learn
transformers
simple_parsing==0.1.2.post1
pycocotools==2.0.8
python-Levenshtein
fastapi
uvicorn
python-multipart
statsmodels
tabulate
tiktoken
einops
transformers_stream_generator
accelerate
seaborn
tensorflow[and-cuda]==2.15.*
keras==2.15
tensorrt
keras-ocr==0.9.3









